#Media Players
.config/mpv/watch_later
.config/mpd/database
.config/mpd/sticker
.config/ncmpcpp/error.log

#Vim
.config/vim/viminfo
.config/vim/.netrwhist
.config/vim/pack/

#Zathura
.config/zathura/zathurarc.bak

.config/tmux/plugins/*

.config/zsh/.zcompdump
.config/zsh/.zcompdump.LNV9X3.198003

.config/nvim/lazy-lock.json
.config/nvim/.stylua.toml
.config/nvim/.clang-format

.local/share/applications/mimeapps.list
